Repository ondato/ondato-sdk-react-native: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,jsx,tsx,md,json}"
      run: npx prettier --write {staged_files}
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

docs: update installation instructions, formatting improvements
  CODE_OF_CONDUCT.md
  README.md
Due: format

chore: code formatting
  example/ios/OndatoSdkReactNativeExample/Images.xcassets/AppIcon.appiconset/Contents.json
Due: format

docs: correct broken SDK package URLs in README
  README.md
Due: format

chore: add latest Ondato Android SDK beta (commit: b4a1180) build
  android/local/repo/com/facetec/sdk/maven-metadata.xml
  android/local/repo/com/kyc/ondato/nfc-reader/3.2.1/nfc-reader-3.2.1.aar
  android/local/repo/com/kyc/ondato/nfc-reader/3.2.1/nfc-reader-3.2.1.module
  android/local/repo/com/kyc/ondato/nfc-reader/3.2.1/nfc-reader-3.2.1.pom
  android/local/repo/com/kyc/ondato/nfc-reader/maven-metadata.xml
  android/local/repo/com/kyc/ondato/screen-recorder/maven-metadata.xml
  android/local/repo/com/kyc/ondato/sdk-core/3.2.1/sdk-core-3.2.1.aar
  android/local/repo/com/kyc/ondato/sdk-core/3.2.1/sdk-core-3.2.1.module
  android/local/repo/com/kyc/ondato/sdk-core/3.2.1/sdk-core-3.2.1.pom
  android/local/repo/com/kyc/ondato/sdk-core/maven-metadata.xml
Due: none

fix: resolve promise resolve issues on ios legacy architecture
  ios/OndatoLegacyModule.mm
Due: none

chore: bump version to 3.2.1-beta.2
  README.md
  package.json
Due: format

chore: bump version to 3.2.1-beta.3
  README.md
  package.json
Due: format

fix: change language code from ua to uk
  README.md
  android/src/main/java/com/ondato/OndatoConfiguration.kt
  ios/OndatoConfiguration.swift
  src/NativeOndatoModule.ts
  src/index.tsx
Due: format, lint, types

chore: bump version to 3.2.1-beta.4
  README.md
  example/ios/Podfile.lock
  package.json
Due: format

fix: add missing android module `document-autoresolver`, update others
  android/local/repo/com/facetec/sdk/maven-metadata.xml
  android/local/repo/com/kyc/ondato/document-autoresolver/3.2.1/document-autoresolver-3.2.1.aar
  android/local/repo/com/kyc/ondato/document-autoresolver/3.2.1/document-autoresolver-3.2.1.module
  android/local/repo/com/kyc/ondato/document-autoresolver/3.2.1/document-autoresolver-3.2.1.pom
  android/local/repo/com/kyc/ondato/document-autoresolver/maven-metadata.xml
  android/local/repo/com/kyc/ondato/nfc-reader/maven-metadata.xml
  android/local/repo/com/kyc/ondato/screen-recorder/maven-metadata.xml
  android/local/repo/com/kyc/ondato/sdk-core/3.2.1/sdk-core-3.2.1.aar
Due: none

docs: show how to add document-autoresolver module for android
  README.md
Due: format

chore: bump version to 3.2.1-beta.5
  README.md
  example/ios/Podfile.lock
  package.json
Due: format

fix: handle unsupported language gracefully
  src/__tests__/index.test.tsx
  src/index.tsx
Due: format, lint, types

docs: simplify a comment for primary color in "Styling" section
  README.md
Due: format

chore: bump version to 3.2.1
  README.md
  example/ios/Podfile.lock
  package.json
Due: format

chore: upgrade boilerplate, update android sdk version, bump up the version to 3.2.2
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .gitignore
  .nvmrc
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.11.0.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  README.md
  android/build.gradle
  android/gradle.properties
  example/android/app/build.gradle
  example/babel.config.js
  example/ios/OndatoSdkReactNativeExample/Info.plist
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  package.json
  plugin/__tests__/__snapshots__/withAndroid.test.ts.snap
  plugin/__tests__/withAndroid.test.ts
  plugin/src/constants.ts
  plugin/src/index.ts
  plugin/src/withAndroid.ts
  yarn.lock
Due: format, lint, types

chore: update ios sdk version to 3.2.1, bump the version to 3.2.3
  OndatoSdkReactNative.podspec
  README.md
  example/ios/Podfile
  example/ios/Podfile.lock
  ios/OndatoLogic.swift
  package.json
  plugin/__tests__/__snapshots__/withIos.test.ts.snap
  plugin/__tests__/withIos.test.ts
  plugin/src/constants.ts
  plugin/src/withIos.ts
Due: format, lint, types

chore: update android sdk version to 3.3.0, add new terms properties, bump the version to 3.3.0
  README.md
  android/build.gradle
  android/src/main/java/com/ondato/OndatoConfiguration.kt
  example/android/app/build.gradle
  package.json
  plugin/__tests__/__snapshots__/withAndroid.test.ts.snap
  plugin/src/constants.ts
  src/NativeOndatoModule.ts
  src/__tests__/index.test.tsx
  src/index.tsx
Due: format, lint, types

chore(release): 3.3.1
  CHANGELOG.md
  OndatoSdkReactNative.podspec
  README.md
  android/build.gradle
  android/src/main/java/com/ondato/OndatoConfiguration.kt
  example/android/app/build.gradle
  example/ios/Podfile
  example/ios/Podfile.lock
  ios/OndatoLogic.swift
  package.json
  plugin/__tests__/__snapshots__/withAndroid.test.ts.snap
  plugin/__tests__/__snapshots__/withIos.test.ts.snap
  plugin/src/constants.ts
  src/NativeOndatoModule.ts
Due: format, lint, types

chore(release): 3.4.0
  CHANGELOG.md
  OndatoSdkReactNative.podspec
  README.md
  android/build.gradle
  android/src/main/java/com/ondato/OndatoConfiguration.kt
  android/src/main/java/com/ondato/OndatoModule.kt
  example/android/app/build.gradle
  example/ios/Podfile
  example/ios/Podfile.lock
  ios/OndatoLogic.swift
  package.json
  plugin/__tests__/__snapshots__/withAndroid.test.ts.snap
  plugin/__tests__/__snapshots__/withIos.test.ts.snap
  plugin/src/constants.ts
  src/NativeOndatoModule.ts
  src/index.tsx
Due: format, lint, types

chore: sync release v3.4.1
  CHANGELOG.md
  OndatoSdkReactNative.podspec
  README.md
  android/build.gradle
  example/android/app/build.gradle
  example/ios/Podfile
  example/ios/Podfile.lock
  ios/OndatoLogic.swift
  package.json
  plugin/__tests__/__snapshots__/withAndroid.test.ts.snap
  plugin/__tests__/__snapshots__/withIos.test.ts.snap
  plugin/src/constants.ts
Due: format, lint, types

chore: sync release v3.4.2
  CHANGELOG.md
  README.md
  android/build.gradle
  example/android/app/build.gradle
  package.json
  plugin/__tests__/__snapshots__/withAndroid.test.ts.snap
  plugin/src/constants.ts
Due: format, lint, types

feat: enhance OndatoLogic with dedicated UIWindow for presentation and update iOS deployment target to 16.4
  ios/OndatoLogic.swift
  plugin/src/constants.ts
Due: format, lint, types

chore: sync release v3.5.0
  .gitignore
  CHANGELOG.md
  OndatoSdkReactNative.podspec
  README.md
  android/build.gradle
  android/src/main/java/com/ondato/OndatoConfiguration.kt
  example/android/app/build.gradle
  example/android/build.gradle
  example/ios/Podfile
  example/ios/Podfile.lock
  example/src/idFetcher.ts
  ios/OndatoConfiguration.swift
  ios/OndatoLogic.swift
  ios/OndatoModule.mm
  package.json
  plugin/__tests__/__snapshots__/withAndroid.test.ts.snap
  plugin/__tests__/__snapshots__/withIos.test.ts.snap
  plugin/src/constants.ts
  src/NativeOndatoModule.ts
  src/__tests__/appearance.test.ts
  src/__tests__/index.test.tsx
  src/appearance.ts
  src/index.tsx
  yarn.lock
Due: format, lint, types

chore: sync release v3.5.2
  CHANGELOG.md
  README.md
  android/build.gradle
  example/android/app/build.gradle
  example/android/build.gradle
  example/ios/OndatoSdkReactNativeExample.xcodeproj/project.pbxproj
  example/ios/Podfile
  example/ios/Podfile.lock
  package.json
  plugin/__tests__/__snapshots__/withAndroid.test.ts.snap
  plugin/__tests__/__snapshots__/withIos.test.ts.snap
  plugin/__tests__/withBuildProperties.test.ts
  plugin/src/constants.ts
  plugin/src/withBuildProperties.ts
Due: format, lint, types
